.error{
    color: red;
    background-color: gray;
    border: 4px solid red;
    font-size: 2rem;
    padding: 0.5rem;
}

.normal{
    color: green;
    background-color: gray;
    border: 4px solid green;
    font-size: 2rem;
    padding: 0.5rem;
}