.success {
    color: limegreen;
    border-color: limegreen;
}

.error {
    color: red;
    border-color: red;
}

.warning {
    color: orange;
    border-color: orange;
}

.hidden {
    display: none;
}